# CSharp Project
Trace Logger CSharp/.vs/
Trace Logger CSharp/Trace Logger CSharp/bin/
Trace Logger CSharp/Trace Logger CSharp/obj/
Trace Logger CSharp/TestResults/
Trace Logger CSharp/Trace Logger CSharp Tests/bin/
Trace Logger CSharp/Trace Logger CSharp Tests/obj/