# CSharp Project
Trace Logger CSharp/.vs/
Trace Logger CSharp/Trace Logger CSharp/bin/
Trace Logger CSharp/Trace Logger CSharp/obj/
Trace Logger CSharp/TestResults/
Trace Logger CSharp/Trace Logger CSharp Tests/bin/
Trace Logger CSharp/Trace Logger CSharp Tests/obj/

#Cpp Project
Trace Logger Cpp/.vs/
Trace Logger Cpp/Trace Logger Cpp/Debug/
Trace Logger Cpp/Trace Logger Cpp/Release/
Trace Logger Cpp/Trace Logger Cpp/x64/
Trace Logger Cpp/Debug/
Trace Logger Cpp/Release/
Trace Logger Cpp/x64/
Trace Logger Cpp/Trace Logger Cpp Tests/Debug/
Trace Logger Cpp/Trace Logger Cpp Tests/Release/
Trace Logger Cpp/Trace Logger Cpp Tests/x64/
